# Ignore everything while on development
/*
!.gitignore
!packages
!config-module
!config-module/*/
!config/webarq.php
!resources/views/webarq
!resources/views/webarq/*/
!app/Http/Controllers
!app/Http/Controllers/*/
!app/Webarq/
!app/Webarq/*/
